allow system_app tracingproxy_service:service_manager find;
allow system_app sysfs_ir_enable:file { read write };
allow system_app system_data_file:dir { search };
