on boot
    # KCAL permissions
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_lock
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_lock

#Autofocus fix
on property:persist.camera.focus_fix=1
    write /sys/module/msm_actuator/parameters/use_focus_fix 1

on property:persist.camera.focus_fix=0
    write /sys/module/msm_actuator/parameters/use_focus_fix 0

#FastCharge
on property:persist.sys.le_fast_chrg_enable=1
    write /sys/class/power_supply/le_ab/le_quick_charge_mode 0

on property:persist.sys.le_fast_chrg_enable=0
    write /sys/class/power_supply/le_ab/le_quick_charge_mode 1

#Profiles	
service profile-sh /vendor/bin/init.profile.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service thermal-sh /vendor/bin/init.thermal.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service cdla-sh /vendor/bin/init.cdla.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service cdlapref-sh /vendor/bin/init.cdlapref.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

on property:persist.cdla_enable=1
    write /sys/module/cyccg/parameters/typec_headset_with_analog 0
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap	0
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 0	

on property:persist.cdla_enable=0
    write /sys/module/cyccg/parameters/typec_headset_with_analog 1
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap	1
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 1

on property:cdla.power.profile=1
    write /sys/module/cyccg/parameters/typec_headset_with_analog 1
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap 1
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 0

on property:cdla.power.profile=0
   start cdla-sh

on property:cdla.preference.profile=1
   start cdlapref-sh
