
    #Rom Stock
on property:persist.thermal.profile=0
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine.conf"
    start thermal-engine

    #Battery
on property:persist.thermal.profile=1
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-battery.conf"
    start thermal-engine

    #Balanced
on property:persist.thermal.profile=2
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-balanced.conf"
    start thermal-engine

    #Video
on property:persist.thermal.profile=3
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-video.conf"
    start thermal-engine

    #Performance
on property:persist.thermal.profile=4
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-performance.conf"
    start thermal-engine

    #Gaming
on property:persist.thermal.profile=5
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-gaming.conf"
    start thermal-engine

    #GBG Average
on property:persist.thermal.profile=6
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-cbg.conf"
    start thermal-engine
	
    #EUI
on property:persist.thermal.profile=7
    stop thermal-engine
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-eui.conf"
    start thermal-engine
